.header {
	width: 100%;
	height: 3rem;
	background-color: darkmagenta;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

